.Search {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 15px;
}

.Search button {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    background: #6324C6;
    border: none;
    padding: 11px 20px;
    color: white;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

input {
    padding: 11px;
    border-radius: 6px;
    border: 1px solid #ddd;
    width: 55%;;
    transition: border-color 0.3s;
}

input:focus {
    outline: none;
    border: 1px solid black;
}


  